
		{% extends "template.html" %}
    	{% block content %}
		<div class="topPage">
            <h2>Films by Actor</h2>
        </div>
        
        <div>
    
            <div class="leftBox">
                    <div class="entityHeader">
                            <div><h3>Select an Actor to Filter</h3></div>
                    </div>
                    <form action="{{ url_for('actors') }}" method="post">
                        <fieldset >
                            <legend>Select Actor</legend>
                                <select name="actor_select">
                                    {% for a in actors %}
                                    <option value="{{ a[0] }}">{{ a[1] }}</option>
                                    {% endfor %}
                                </select>
                            <br/>
                            <br/>
                            <!--<label>First Name:
                            <input type="text" name="title" size="30" maxlength="50">
                            </label>
                            <br/><br/>
                            <label>Last Name:
                            <input type="text" name="title" size="30" maxlength="50">
                            </label>
                            <br/><br/>
                            <label>Year Born:
                                    <input type="number" name="numerical_input" size="30" maxlength="100">
                            </label>
                            <br/><br/>
                            <label>Year Died:
                                    <input type="number" name="numerical_input" size="30" maxlength="100">
                            </label>
                            <br/>
                            <br/>-->
                            <input type="submit" value="Submit" />
                        </fieldset>
                    </form>
            </div>
            <div class="rightBox">
                <div><h3>Films With Selected Actor</h3></div>
                <table>
                    <tbody >
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Year Released</th>
                            <th>Runtime</th>
			    			<th>Delete a Film</th>
                        </tr>
			 {% for r in rows %}
			<tr>
			  <td> {{ r.0 }}</td>
			  <td> {{ r[1] }}</td>
			  <td> {{ r[2] }}</td>
			  <td> {{ r[3] }}</td>
			  <td> {{ r[4] }}</td>
			</tr>
			{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="bottomBox">
            <div><h3>Add a Contributor Here</h3></div>
            <form action="{{ url_for('actors') }}" method="POST">
                <fieldset>
                    <p>Select Film</p>
                        <select name="composite_film_select">
                            {% for f in films %}
                            <option value="{{ f[0] }}">{{ f[1] }}</option>
                            {% endfor %}
                        </select>
                        <p>Select Actor</p>
                        <select name="composite_film_actor_select">
                            {% for a in actors %}
                            <option value="{{ a[0] }}">{{ a[1] }}</option>
                            {% endfor %}
                        </select>
                        <br/><br/><br/>
                    <input type="submit" value="Submit"/>
                    <br/>
                </fieldset>
            </form>
        </div>
        <div class = "bottomBox">
            <div><h3>Add an Actor to the Database</h3></div>
            <form action="{{ url_for('actors') }}" method="post" style="text-align: left;">
                <fieldset>
                    <br/>
                    <label>First Name:
                      <input type="text" name="fname_insert" size="30" maxlength="50">
                    </label>
                    <br/><br/>
                    <label>Last Name:
                      <input type="text" name="lname_insert" size="30" maxlength="50">
                    </label>
                    <br/><br/>
                    <label>Year Born:
                            <input type="number" name="year_born_insert" size="30" maxlength="100">
                    </label>
                    <br/><br/>
                    <label>Year Died:
                            <input type="number" name="year_died_insert" size="30" maxlength="100">
                    </label>
                    <br/>
                    <br/>
                    <input type="submit" value="Submit" />
                </fieldset>
            </form>
        </div>

		{% endblock %}
